spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/car_booking_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 20000
      max-lifetime: 1200000

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: car-booking-service

  data:
    redis:
      host: redis
      port: 6379

app:
  external-services:
    credit-card-validation:
      url: http://mock-credit-card-service:8081

logging:
  level:
    root: INFO
    com.velocity.carservice: INFO
    org.springframework.web: INFO
